@import './../../../styles/base.scss';

.header {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	&-text {
		font-size: 3rem;
		font-weight: bold;
		text-shadow: 3px 3px 3px $blue-color;
	}
}
